#toolbar {
  background-color: #333333;
  height: 2rem;
}

#left-panel {
  width: 300px;
}

#workspace {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: calc(100vh - 2rem);
}

#main-panel {
  flex-grow: 1;
  border: solid 1px #aaa;
  overflow: hidden;
  max-height: 100%;
}


#right-panel {
  width: 400px;
}



#wysiwyg-container {
  height: 400px;
}







#jstree-container {
  flex-grow: 1;
  overflow-y: auto;
  /* overflow-x: hidden; */
}

#source-editor {
  outline: solid 1px #aaa;
  height: 100%;
}

#node-editor {
  outline: solid 1px #aaa;
  height: 100%;
  height: 400px;
}


#graph-container {

}

#graph {
  background-image:
    linear-gradient(rgba(200, 200, 200, .5) .1em, transparent .1em),
    linear-gradient(90deg, rgba(200, 200, 200, .5) .1em, transparent .1em)
  ;
  height: 100vh;
  width: 100vw;
  background-size: 3em 3em;

  position: relative;
}



